html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
}

img {
    height: 250px;
    width: 200px;
    padding-left: 50px;
}



.menue {
    font-family: sans-serif;
    position: fixed;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    width: 100%;
}

.link {
    float: right;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
    padding: 8px;
    color: black;
    padding-left: 33px;
    padding-right: 25px;
    background-color: aliceblue;

}

.link:hover {
    background-color: aqua;
    text-decoration: underline;
}

#avengers {
    width: 900px;
    height: 510px;
    border-radius: 20px;
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    padding: 0px;
}

p {
    color: aliceblue;
    font-size: 25px;
}

#home {
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/a33.jpg");
    padding-bottom: 250px;
    background-repeat: round;
}

#grid {
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/a33.jpg");
    padding-bottom: 50px;
    background-repeat: round;
}

#slide {
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/a33.jpg");
    background-repeat: round;
    height: 700px;
}

div {
    margin-top: 40px;
}

.img {
    height: 250px;
    width: 250px;
}


#title {
    width: 1000px;
    padding-bottom: 0px;
    top margin-top: 50px;
    margin-left: 304px;
    padding-right: 300px;
}

#assemble {
    width: 500px;
    padding-bottom: 50px;
    padding-top: 0px;
}

#heading {
    color: white;
}
